/* 定义字体图标的字体库 */
@font-face {
  font-family: "iconfont"; /* 这定义了一个字体库的名称，可以在HTML中引用 */
  src: url('iconfont.ttf?t=1703513598671') format('truetype'); /* 指定字体文件的路径 */
}

/* 通用的字体图标样式 */
.iconfont {
  font-family: "iconfont" !important;  /* 使用前面定义的"iconfont"字体库 */
  font-size: 20px;  /* 图标的大小 */
  font-style: normal;  /* 使用正常的字体样式 */
  -webkit-font-smoothing: antialiased;  /* 优化字体显示（特别是针对Mac系统） */
  -moz-osx-font-smoothing: grayscale;  /* 优化字体显示（特别是针对Mac系统） */
}

/* 为每个具体的图标定义内容（通过 Unicode 字符表示） */
.icon-tong:before {
  content: "\e67e";  /* 字符图标的Unicode表示 */
}

.icon-sj9:before {
  content: "\e6de";
}

.icon-qqmw:before {
  content: "\e623";
}

.icon-shiliangzhinengduixiang:before {
  content: "\e675";
}

.icon-mainPage:before {
  content: "\e605";
}

.icon-denglong:before {
  content: "\e86c";
}

.icon-yuebing39:before {
  content: "\e728";
}

.icon-clound:before {
  content: "\e6fa";
}

.icon-weibiaoti-:before {
  content: "\e63c";
}

.icon-MGL-R1:before {
  content: "\e620";
}

.icon-youshang:before {
  content: "\e606";
}

.icon-biaotilan-zuo:before {
  content: "\e9a1";
}

.icon-denglong1:before {
  content: "\e612";
}

.icon-siheyuan:before {
  content: "\e60e";
}

.icon-hongdenglong-xiankuang:before {
  content: "\e616";
}

.icon-SpringFestival-clic:before {
  content: "\e611";
}

.icon-knot:before {
  content: "\e519";
}

.icon--bright:before {
  content: "\e617";
}

.icon-gufengwujianzhongguofengzhongguojie_huaban_huaban:before {
  content: "\e628";
}

.icon-xingzhuang:before {
  content: "\e6e3";
}

.icon-weixin:before {
  content: "\e607";
}

.icon-kuang:before {
  content: "\e6ed";
}

.icon-background:before {
  content: "\e651";
}

.icon-wenlvlogo:before {
  content: "\e506";
}

.icon-GUFENGKUANG:before {
  content: "\e62c";
}

.icon-liuheLOGO-01:before {
  content: "\e64f";
}

.icon-wannianli-yunbeijing:before {
  content: "\e677";
}

.icon-shengjinta_jintachuanshuo-xuanzhong:before {
  content: "\e745";
}

.icon-a-102guiai:before {
  content: "\e679";
}

.icon-a-tuceng2:before {
  content: "\e633";
}

.icon-tesexiaozhen:before {
  content: "\e571";
}

.icon-shenhezhong:before {
  content: "\e525";
}

.icon-huawen:before {
  content: "\e57d";
}

.icon-loongair:before {
  content: "\e60b";
}

.icon-kefu-face82:before {
  content: "\e586";
}

.icon-zhongshi-02:before {
  content: "\e601";
}

.icon-blue_4:before {
  content: "\e510";
}

.icon-shuhuaw:before {
  content: "\e602";
}

.icon-xianyunshanriyuelangshiliangtuan10:before {
  content: "\e743";
}

.icon-gufengxiangyunyunduo46:before {
  content: "\e752";
}

.icon-gufengxiangyunyunduo74:before {
  content: "\e754";
}

.icon-zhongshigongtingbiankuang40:before {
  content: "\e75e";
}

.icon-mail_youjian:before {
  content: "\e60f";
}

.icon-locate_dingwei:before {
  content: "\e610";
}

.icon-mine_wode:before {
  content: "\e613";
}

.icon-notice_tongzhi:before {
  content: "\e614";
}

.icon-scan_saoyisao:before {
  content: "\e615";
}

.icon-search_sousuo:before {
  content: "\e618";
}

.icon-session_huihua:before {
  content: "\e619";
}
